<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="http://facebook.com/{{ site.facebook }}" target="_blank">
          <span class="icon icon--facebook">{% include icon-facebook.svg %}</span>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" target="_blank">
            <span class="icon icon--instagram">{% include icon-instagram.svg %}</span>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" target="_blank">
            <span class="icon icon--youtube">{% include icon-youtube.svg %}</span>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <span class="icon icon--github">{% include icon-github.svg %}</span>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <span class="icon icon--email">{% include icon-email.svg %}</span>
        </a>
    {% endif %}
</div>
